*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
/* css, js로 bubble 구현 및 link 연결 */
/* backgroud-img 넣고 투명화 */

.row{
    display: flex;
}
.col{
    display: flex;
    flex-direction: column;
}


/* container */
.container{
    /* background: linear-gradient(210deg, skyblue, blue) */
    background-color: black;
    position: relative;
}
#moon{
    z-index: 1;
    position: absolute;
    opacity: 0.5;
    width: 250px;
    height: 250px;
    top: 40%;
    left: 40%;
    cursor: pointer;
}
.container img:hover{
    transform: scale(1.1);
    transition: 1s;
}

/* header */
.header{
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid white;
}
.header h1{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 20px;
}

/* main */
.main{    
    width: 100%;
    height: 80vh;
    position: relative;
}
.main a{
    color: white;
    font-size: 25px;
    text-decoration: none;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
}
.main > *:hover{
    transform: scale(1.5);
}
.main img{
    width: 30px;
    height: 30px;
}
.githubWrapper{
    position: absolute;
    top: 10%;
    left: 6%;
}
.blogWrapper{
    position: absolute;
    top: 85%;
    left: 75%;
}
.portfolioWrapper{
    position: absolute;
    top: 77%;
    left: 48%;
}
.instagramWrapper{
    position: absolute;
    top: 15%;
    left: 65%;
}
.kakaotalkWrapper{
    position: absolute;
    top: 80%;
    left: 3%;
}
.projectsWrapper{
    position: absolute;
    top: 30%;
    left: 28%;
}
.footer{
    width: 100%;
    height: 10vh;
    border-top: 1px solid white;
    justify-content: space-around;
    font-family: 'Amatic SC', cursive;
    letter-spacing: 2px;
}

.contectWrapper{
    width: 50%;
    color: white;
}
.contectWrapper-title{
    text-align: center;
}
.techStack{
    width: 50%;
    color: white;
}
.techStack-title{
    text-align: center;
}
.techStack-list{
    justify-content: space-around;
}
.techStack-list-1 ul{
    list-style: none;
}
.techStack-list-2 ul{
    list-style: none;
}
.techStack-list-3 ul{
    list-style: none;
}