:root{
    --color-pink : #E4A9A8;
    --color-yellow : #DBAD4A;
    --color-blue : #ACCFCB;
    --color-darkblue : #3D8DAE;
}   
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: 0.5s;
}
.row{
    display: flex;
}
.row-col{
    display: flex;
    flex-direction: column;
}
.container{
    width: 100%;
    height: auto;
}
/* scroll gauge */
.scroll-gauge{
    position: fixed;
    z-index: 20;
    width: 100%;
    background-color: #fff;
}
.progress-container {
    width: 100%;
    height: 5px;
    background: gray;
}
.progress-bar {
    height: 5px;
    background: skyblue ;
    width: 0%;
}
/* Navigation */
.nav{
    width: 100px;
    height: 80vh;
    background: linear-gradient(
        #E4A9A860, 
        #DBAD4A60, 
        #ACCFCB60
        );
    position: fixed;
    right: 2%;
    top: 10%;
    border-radius: 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 2;
}
.nav h1{
    color: white;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'League Gothic', sans-serif; */
    /* font-family: 'Tangerine', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Nanum Pen Script', cursive; */
    font-size: 40px;
    letter-spacing: 5px;
    text-shadow:1px 1px 1px #000;
}
.nav ul{
    list-style: none;
    text-align: center;
}
.nav li{
    text-decoration: none;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'League Gothic', sans-serif; */
    /* font-family: 'Tangerine', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Nanum Pen Script', cursive; */
    font-size: 15px;
    font-weight: 900;
    text-shadow:1px 1px 1px #000;
    letter-spacing: 2px;
    margin-bottom: 70px;
    margin-left: 5px;
    cursor: pointer;
}
.nav li:hover{
    transform: scale(1.2);
}

/* Header */
.header{
    width: 100%;
    height: 100vh;
    z-index: 1;
    position: relative;
    padding: 50px;
    overflow: hidden;
    align-items: center;
    min-height: 35rem;
	background-blend-mode: soft-light;
	background-size: cover;
	background-position: center center;
	padding: 2rem;
}
/* circle */
.cssload-circle {
	width: 400px;
	height: 400px;
	line-height: 146px;
	margin: 49px auto;
	position: absolute;
    top: 59%;
    left: 39.5%;
	box-sizing: border-box;
	text-align: center;
	z-index: 0;
	text-transform: uppercase;
		-o-text-transform: uppercase;
		-ms-text-transform: uppercase;
		-webkit-text-transform: uppercase;
		-moz-text-transform: uppercase;
}
.cssload-circle:before,
.cssload-circle:after {
	opacity: 0;
	box-sizing: border-box;
		-o-box-sizing: border-box;
		-ms-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
	content: "\0020";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	border: 5px solid rgba(0, 0, 0, 0.205);
	box-shadow: 0 0 49px rgb(0,0,0), inset 0 0 49px rgb(0,0,0);
		-o-box-shadow: 0 0 49px rgb(0,0,0), inset 0 0 49px rgb(0,0,0);
		-ms-box-shadow: 0 0 49px rgb(0,0,0), inset 0 0 49px rgb(0,0,0);
		-webkit-box-shadow: 0 0 49px rgb(0,0,0), inset 0 0 49px rgb(0,0,0);
		-moz-box-shadow: 0 0 49px rgb(0,0,0), inset 0 0 49px rgb(0,0,0);
}
.cssload-circle:after {
	z-index: 1;
	animation: cssload-gogoloader 2.3s infinite 1.15s;
		-o-animation: cssload-gogoloader 2.3s infinite 1.15s;
		-ms-animation: cssload-gogoloader 2.3s infinite 1.15s;
		-webkit-animation: cssload-gogoloader 2.3s infinite 1.15s;
		-moz-animation: cssload-gogoloader 2.3s infinite 1.15s;
}
.cssload-circle:before {
	z-index: 2;
	animation: cssload-gogoloader 2.3s infinite;
		-o-animation: cssload-gogoloader 2.3s infinite;
		-ms-animation: cssload-gogoloader 2.3s infinite;
		-webkit-animation: cssload-gogoloader 2.3s infinite;
		-moz-animation: cssload-gogoloader 2.3s infinite;
}
@keyframes cssload-gogoloader {
	0% {
		transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 0;
	}
}
@-o-keyframes cssload-gogoloader {
	0% {
		-o-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-o-transform: scale(1);
		opacity: 0;
	}
}
@-ms-keyframes cssload-gogoloader {
	0% {
		-ms-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-ms-transform: scale(1);
		opacity: 0;
	}
}
@-webkit-keyframes cssload-gogoloader {
	0% {
		-webkit-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 0;
	}
}
@-moz-keyframes cssload-gogoloader {
	0% {
		-moz-transform: scale(0);
		opacity: 0;
	}
	50% {
		opacity: 1;
	}
	100% {
		-moz-transform: scale(1);
		opacity: 0;
	}
}
/* Bird */
.bird-animation{
    position: fixed;
    z-index: 10;
    top: 10%;
}
.bird {
	background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/174479/bird-cells-new.svg);
	background-size: auto 100%;
	width: 88px;
	height: 125px;
	will-change: background-position;
	animation-name: fly-cycle;
	animation-timing-function: steps(10);
	animation-iteration-count: infinite;
    opacity: 0.5;
}
.bird--one {
    animation-duration: 1s;
    animation-delay: -0.5s;		
}
.bird--two {
    animation-duration: 0.9s;
    animation-delay: -0.75s;
}
.bird--three {
    animation-duration: 1.25s;
    animation-delay: -0.25s;
}
.bird--four {
    animation-duration: 1.1s;
    animation-delay: -0.5s;
}
.bird-container {
	position: absolute;
	top: 20%;
	left: -10%;
	transform: scale(0) translateX(-10vw);
	will-change: transform;
	animation-name: fly-right-one;
	animation-timing-function: linear;
	animation-iteration-count: infinite;
}
.bird-container--one {
    animation-duration: 15s;
    animation-delay: 1s;
    top: 10%;
}
.bird-container--two {
    animation-duration: 16s;
    animation-delay: 5s;
}
.bird-container--three {
    animation-duration: 14.6s;
    animation-delay: 7s;
    top: 30%;
}
.bird-container--four {
    animation-duration: 16s;
    animation-delay: 10s;
}
@keyframes fly-cycle {
	100% {
		background-position: -900px 0;
	}
}
@keyframes fly-right-one {
	0% {
		transform: scale(0.3) translateX(-10vw);
	}
	10% {
		transform: translateY(2vh) translateX(10vw) scale(0.4);
	}
	20% {
		transform: translateY(0vh) translateX(30vw) scale(0.5);
	}
	30% {
		transform: translateY(4vh) translateX(50vw) scale(0.6);
	}
	40% {
		transform: translateY(2vh) translateX(70vw) scale(0.6);
	}
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.6);
	}
	60% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.6);
	}
}
@keyframes fly-right-two {
	0% {
		transform: translateY(-2vh) translateX(-10vw) scale(0.5);
	}
	10% {
		transform: translateY(0vh) translateX(10vw) scale(0.4);
	}
	20% {
		transform: translateY(-4vh) translateX(30vw) scale(0.6);
	}
	30% {
		transform: translateY(1vh) translateX(50vw) scale(0.45);
	}
	40% {
		transform: translateY(-2.5vh) translateX(70vw) scale(0.5);
	}
	50% {
		transform: translateY(0vh) translateX(90vw) scale(0.45);
	}
	51% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
	100% {
		transform: translateY(0vh) translateX(110vw) scale(0.45);
	}
}
.header::after{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    content: "";
    background-image: url(img/treeinlake.jpg);
    background-size: cover;
    opacity: 0.8;
    z-index: -2;
}
.header h1{
    text-align: center;
    margin: 100px auto;
}
.header span{
    color: white;
    text-align: left;
    margin: 10px;
    font-size: 100px;
    font-weight: 700;
    text-shadow:3px 3px 3px #000;
    font-family: 'Shadows Into Light', cursive;
    /* font-family: 'Ubuntu', sans-serif; */
    /* font-family: 'League Gothic', sans-serif; */
    /* font-family: 'Tangerine', cursive; */
    /* font-family: 'Courgette', cursive; */
    /* font-family: 'Abril Fatface', cursive; */
    /* font-family: 'Righteous', cursive; */
    letter-spacing: 20px;
    /* animation */
    text-transform: uppercase;
    animation: zoomup 2s linear infinite;
    animation-delay: calc(200ms * var(--i));
}
@keyframes zoomup {
    0%,
    100% {
      color: black;
      filter: blur(1px);
      text-shadow: 0 0 10px white, 0 0 20px white, 0 0 30px black,
        0 0 40px black, 0 0 60px black, 0 0 80px yellow, 0 0 100px yellow,
        0 0 120px yellow;
    }
  
    5%,
    95% {
      filter: blur(0);
      color: #fff;
      text-shadow: none;
      text-shadow:3px 3px 3px #000;
    }
}
.header p{
    text-align: center;
    font-size: 20px;
    letter-spacing: 10px;
    line-height: 50px;
    font-family: 'Dancing Script', cursive;
    /* font-family: 'Tangerine', cursive; */
}
.cssload-loader {
	width: auto;
	height: 60px;
	line-height: 30px;
	text-align: center;
	position: absolute;
	left: 50%;
	transform: translate(-50%, -50%);
		-o-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		-moz-transform: translate(-50%, -50%);
	font-family: helvetica, arial, sans-serif;
	text-transform: uppercase;
	font-weight: 900;
	font-size:18px;
}
.cssload-loader::before, .cssload-loader::after {
	content: "";
	display: block;
	width: 10px;
	height: 10px;
	background: rgba(255, 255, 255, 0.4);
    border-radius: 10px;
	position: absolute;
	animation: cssload-load 0.81s infinite alternate ease-in-out;
		-o-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-ms-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-webkit-animation: cssload-load 0.81s infinite alternate ease-in-out;
		-moz-animation: cssload-load 0.81s infinite alternate ease-in-out;
}
.cssload-loader::before {
	top: 0;
}
.cssload-loader::after {
	bottom: 0;
}
@keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}
@-o-keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}
@-ms-keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}
@-webkit-keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}
@-moz-keyframes cssload-load {
	0% {
		left: 0;
		height: 29px;
		width: 15px;
	}
	50% {
		height: 8px;
		width: 39px;
	}
	100% {
		left: 229px;
		height: 29px;
		width: 15px;
	}
}
/* 여기서부터 main */
.main{
    width: 95%;
    margin: 100px auto;
}
.intro{
    width: 100%;
    height: 100vh;
    justify-content: space-around;
    align-items: center;
}
.intro-top{
    width: 100%;
    height: 45%;
}
.intro-top h1{
    font-size: 50px;
    letter-spacing: 50px;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    margin: 50px;
}
.intro-top p{
    font-size: 23px;
    text-align: center;
    line-height: 40px;
    letter-spacing: 5px;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Nanum Pen Script', cursive; */
}
.intro-top p:nth-child(2){
    color: var(--color-blue);
}
.intro-top p:nth-child(4){
    color: var(--color-yellow);
}
.intro-top p:nth-child(5){
    color: var(--color-pink);
}
.intro-bottom{
    position: relative;
    border: 10px double black;
    border-radius: 50px;
    width: 100%;
    height: 45%;
    background-image: url(img/[꾸미기]seonbi\ -\ 복사본.jpg);
    background-position: center;
    box-shadow: 10px 10px 10px #000;
    opacity: 0.5;
}
.img1{
    position: absolute;
    left: 60%;
    width: 200px;
    opacity: 0.5;
    animation: song1 3s linear infinite;
}
.img2{
    position: absolute;
    left: 30%;
    top: 10%;
    width: 80px;
    opacity: 1;
    transform: rotate(-0.07turn);
    animation: song2 5s linear infinite;
}
@keyframes song1{
    0%{
        left: 60%;
        top: 0;
    }
    50%{
        left: 65%;
        top: -5%;
        transform: scale(1.2) rotate(0.05turn);
    }
    100%{
        left: 60%;
        top: 0;
    }
}
@keyframes song2{
    0%{
        left: 30%;
        top: 10;
    }
    50%{
        left: 25%;
        top: 5%;
        transform: scale(1.2) rotate(0.05turn);
    }
    100%{
        left: 30%;
        top: 10;
    }
}

/* Represent 시작! */
.represent{

}
.represent-start{
    width: 90%;
    height: 90vh;
    margin: 200px auto;
    text-align: center;
    background-image: url(img/flying_hak.jpg);
    background-size: cover;
    padding: 50px;
    border: 10px double black;
    position: relative;
}
.represent-start h1{
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Tangerine', cursive; */
    /* font-family: 'Jeju Hallasan', cursive; */
    font-size: 60px;
}
.represent-start h2{
    margin: 100px;
    font-family: 'Jeju Hallasan', cursive;
    font-size: 100px;
    text-shadow: 10px 10px 10px rgba(0, 0, 0, 0.7);
}
.rep-downbutton{
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    cursor: pointer;
}
.rep-downbutton h4{
    animation: rep-downbutton linear 1s infinite;
}
@keyframes rep-downbutton{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.rep-downbutton img{
    width: 60px;
    height: 60px;
    transform: rotate(-0.1turn);
}
.buseoksa{
    width: 90%;
    height: 100vh;
    margin: 100px auto;
    justify-content: space-between;
    position: relative;
}
.buseoksa-post{
    width: 45%;
    justify-content: space-around;
    padding: 50px;
}
.buseoksa-post h1{
    text-align: center;
    font-family: 'Jeju Hallasan', cursive;
    letter-spacing: 20px;
}
.buseoksa-post p{
    line-height: 40px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
}
.buseoksa-post p:nth-child(2){
    color: var(--color-blue);
}
.buseoksa-post p:nth-child(4){
    color: var(--color-pink);
}
.buseoksa-view{
    width: 45%;
    justify-content: center;
    align-items: center;
    position: relative;
}
.buseoksa-view img{
    width: 100%;
    border: 20px double black;
}
.buseoksa-view p{
    text-align: center;
    margin: 40px auto;
    letter-spacing: 3px;
    line-height: 30px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 25px;
    color: var(--color-yellow);
}
.fox{
    position: absolute;
    left: 0;
    top: 5%;
    z-index: -1;
    animation: fox 3s linear infinite;
}
.fox img{
    width: 150px;
    border: none;
}
@keyframes fox{
    0%{
        left: 0%;
        top: 5%;
    }
    20%{
        left: 0%;
        top: 20%;
    }
    40%{
        left: -10%;
        top: 20%;
    }
    60%{
        left: 0%;
        top: 20%;
        transform: rotate(-0.1turn);
    }
    100%{
        left: 0%;
        top: 5%;
    }
}
.buseoksa-downbutton{
    position: absolute;
    left: 50%;
    bottom: 10%;
    width: 100px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    cursor: pointer;
}
.buseoksa-downbutton h4{
    animation: buseoksa-downbutton linear 1s infinite;
}
@keyframes buseoksa-downbutton{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.buseoksa-downbutton img{
    width: 60px;
    height: 60px;
    transform: rotate(-0.1turn);
}

.museom{
    width: 90%;
    height: 100vh;
    margin: 100px auto;
    justify-content: space-around;
    position: relative;
}
.museom-title{
    width: 100%;
    height: 10%;
    text-align: center;
    justify-content: space-between;
}
.museom-title h1{
    font-family: 'Jeju Hallasan', cursive;
    letter-spacing: 30px;
    font-size: 50px;
}
.museom-title p{
    margin-top: 30px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
    color: var(--color-pink);
}
.museom-post{
    width: 100%;
    height: 80%;
    background-image: url(./img/muiseom.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10%;
    grid-gap: 10%;
    padding: 10%;
    border-radius: 30px;
    border: 10px solid var(--color-blue);
    animation: museom-post-border 3s linear infinite;
}
@keyframes museom-post-border{
    0%{
        border: 10px solid var(--color-blue);
    }
    33.3%{
        border: 10px solid var(--color-pink);
    }
    66.6%{
        border: 10px solid var(--color-yellow);
    }
    100%{
        border: 10px solid var(--color-blue);
    }
}
.museom-post-card{
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    cursor: pointer;
    padding: 30px;
    position: relative;
}
.museom-post-card h1{
    letter-spacing: 15px;
    font-weight: 100;
    font-size: 25px;
    font-family: 'Jeju Hallasan', cursive;
}
.museom-post-card p{
    color: var(--color-yellow);
}
.museom-post-card:nth-child(1){
    grid-column: 1/2;
    grid-row: 1/3;
}
.museom-post-card:nth-child(1) p{
    line-height: 70px;
    color: white;
    font-size: 17px;
    font-weight: 100;
    /* text-shadow: -1px 0 #000, 0 1px #000, 1px 0 #000, 0 -1px #000; */
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Nanum Pen Script', cursive; */
}
.museom-post-card:nth-child(1):hover{
    transition: all linear 0.1s;
    transform: rotate(0.01turn);
    border: 1px solid var(--color-blue);

}
.museom-post-card:nth-child(2):hover{
    transform: scale(2);
    transform-origin: 0 0;
    transition: all ease-in-out 0.4s;
    background-color: white;
    z-index: 1;
}
.museom-post-card:nth-child(2):hover h1{
    display: none;
}
.museom-post-card:nth-child(2):hover .museom-post-card-back{
    display: block;
}
.museom-post-card:nth-child(3):hover{
    transform: scale(2);
    transform-origin: 100% 0;
    transition: all ease-in-out 0.4s;
    background-color: white;
    z-index: 1;
}
.museom-post-card:nth-child(3):hover h1{
    display: none;
}
.museom-post-card:nth-child(3):hover .museom-post-card-back{
    display: block;
}
.museom-post-card:nth-child(4):hover{
    transform: scale(2);
    transform-origin: 0 100%;
    transition: all ease-in-out 0.4s;
    background-color: white;
    z-index: 1;
}
.museom-post-card:nth-child(4):hover h1{
    display: none;
}
.museom-post-card:nth-child(4):hover .museom-post-card-back{
    display: block;
}
.museom-post-card:nth-child(5):hover{
    transform: scale(2);
    transform-origin: 100% 100%;
    transition: all ease-in-out 0.4s;
    background-color: white;
    z-index: 1;
}
.museom-post-card:nth-child(5):hover h1{
    display: none;
}
.museom-post-card:nth-child(5):hover .museom-post-card-back{
    display: block;
}
.museom-post-card-front{
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    color: white;
}
.museom-post-card-front:hover{
    display: none;
}
.museom-post-card-back{
    display: none;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    color: black;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
}
.museom-post-card-back h2{
    margin-bottom: 10px;
    font-family: 'Jeju Hallasan', cursive;
    letter-spacing: 15px;
}
.museom-post-card-back p{
    font-size: 10px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 15px;
}
.museom-post-card-back img{
    margin-top: 10px;
    width: 60%;
    height: 60%;
    border-radius: 20px;
    border: 5px double var(--color-blue);
}
.museom-downbutton{
    position: absolute;
    left: 50%;
    bottom: 0%;
    width: 100px;
    height: 100px;
    justify-content: space-around;
    align-items: center;
    font-family: 'Tangerine', cursive;
    font-size: 30px;
    cursor: pointer;
}
.museom-downbutton h4{
    animation: museom-downbutton linear 1s infinite;
}
@keyframes museom-downbutton{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.2);
    }
    100%{
        transform: scale(1);
    }
}
.museom-downbutton img{
    width: 60px;
    height: 60px;
    transform: rotate(-0.1turn);
}
.naduri{
    width: 90%;
    height: 100vh;
    margin: 200px auto;
    justify-content: space-around;
    align-items: center;
}
.naduri-intro{
    width: 30%;
    height: 90%;
    text-align: center;
    justify-content: space-around;
}
.naduri-intro h1{
    font-size: 50px;
    letter-spacing: 20px;
    font-family: 'Jeju Hallasan', cursive;
}
.naduri-intro p{
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
}
.naduri-intro p:nth-child(2){
    color: var(--color-blue);
}
.naduri-intro p:nth-child(3){
    color: var(--color-pink);
}
.naduri-intro p:nth-child(4){
    color: var(--color-yellow);
}
.naduri-intro img{
    width: 100%;
    border-radius: 10px;
    border: 3px solid var(--color-pink);
    opacity: 0.8;
    cursor: pointer;
}
.naduri-intro img:hover{
    opacity: 1;
    transform: scale(1.2);
}
.naduri-section{
    width: 60%;
    height: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 30px;
    gap: 30px;
    padding: 30px;
}
.naduri-section-card{
    background-color: black;
    border-radius: 50px;
    cursor: pointer;
    opacity: 0.6;
}
.naduri-section-card:hover{
    transition: all linear .2s;
    transform: scale(1.1);
    opacity: 1;
}
.naduri-section-card img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 4px solid var(--color-blue);
}
.naduri-section-card:nth-child(1){
    grid-row: 1/3;
    grid-column: 1/3;
}
.naduri-section-card:nth-child(4){
    grid-row: 3/4;
    grid-column: 1/3;
    background: none;
    line-height: 30px;
    text-align: center;
    font-size: 27px;
    font-family: 'Nanum Pen Script', cursive;
    transform: none;
    transition: none;
}
.naduri-section-card:nth-child(5){
    padding-bottom: 10px;
}
.naduri-section-card:nth-child(5) img{
    width: 200px;
    height: 100px;
    margin: 20px 30px;
}
.naduri-section-card:nth-child(5) p{
    text-align: center;
}
.naduri-section-card:nth-child(5) a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    font-family: 'Nanum Pen Script', cursive;
    letter-spacing: 5px;
}
/* specialties */
.specialties{
    width: 90%;
    height: 100vh;
    margin: 200px auto;
}
.specialties-title{
    width: 100%;
    height: 20%;
    text-align: center;
    justify-content: space-between;
}
.specialties-title h1{
    font-family: 'Jeju Hallasan', cursive;
    font-size: 100px;
}
.specialties-title p{
    font-size: 40px;
    font-family: 'Nanum Pen Script', cursive;
}
.specialties-section{
    width: 80%;
    height: 60%;
    margin: 30px auto;
    border: 8px double black;
    position: relative;
}
.specialties-item{
    width: 100%;
    position: relative;
    flex: 1;
    cursor: pointer;
    color: white;
    border: 5px solid white;
}
.specialties-item:hover{
    flex-grow: 2.5;
    transition: 1s;
}
.specialties-item h1{
    text-align: center;
    margin: 10%;
    font-family: 'Jeju Hallasan', cursive;
}
.specialties-item p{
    width: 80%;
    margin: 0 auto;
    text-align: center;
    display: none;
    line-height: 35px;
    font-family: 'Nanum Pen Script', cursive;
    font-size: 30px;
}
.specialties-item:hover p{
    display: block;
}
.specialties-item:hover img{
    opacity: 0.2;
    height: 65%;
}
.specialties-item img{
    position: absolute;
    width: 90%;
    height: 40%;
    bottom: 10%;
    left: 5%;
    border-radius: 20px;
}
.specialties-item:nth-child(1){
    background-color: var(--color-blue);
}
.specialties-item:nth-child(2){
    background-color: var(--color-pink);
}
.specialties-item:nth-child(3){
    background-color: var(--color-yellow);
}
.specialties-item:nth-child(4){
    background-color: var(--color-darkblue);
}

/* how to make */
.how-to-make{
    width: 100%;
    height: 100vh;
    margin-top: 200px;
    justify-content: space-around;
}
.how-to-make-title-container{
    display: grid;
    place-items: center;  
    text-align: center;
}
.how-to-make-title {
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 50px;
    text-transform: uppercase;
}
.title-word {
    animation: color-animation 4s linear infinite;
}
.title-word-1 {
    --color-1: #DF8453;
    --color-2: #3D8DAE;
    --color-3: #E4A9A8;
}
.title-word-2 {
    --color-1: #DBAD4A;
    --color-2: #ACCFCB;
    --color-3: #17494D;
}
.title-word-3 {
    --color-1: #ACCFCB;
    --color-2: #E4A9A8;
    --color-3: #ACCFCB;
}
@keyframes color-animation {
    0%    {color: var(--color-1)}
    32%   {color: var(--color-1)}
    33%   {color: var(--color-2)}
    65%   {color: var(--color-2)}
    66%   {color: var(--color-3)}
    99%   {color: var(--color-3)}
    100%  {color: var(--color-1)}
}
.how-to-make-title-container p{
    margin-top: 20px;
    line-height: 30px;
    font-size: 30px;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Nanum Pen Script', cursive; */
}
.how-to-make-title-container p span{
    font-size: 20px
}
.how-to-make-title-container p span:nth-child(5){
    color: #ACCFCB;
}
.how-to-make-title-container p span:nth-child(6){
    color: #DF8453;
}
.how-to-make-title-container p span:nth-child(7){
    color: #17494D;
}
.how-to-make-title-container p span:nth-child(8){
    color: #E4A9A8;
}
.how-to-make-title-container p span:nth-child(9){
    color: #ACCFCB;
}
.how-to-make-title-container p span:nth-child(10){
    color: #DF8453;
}
.how-to-make-title-container p span:nth-child(11){
    color: #17494D;
}

.swiper {
    width: 80%;
    height: 70%;
    padding: 30%;
    border: 10px solid #ACCFCB;
    border-radius: 50px;
    animation: swiper 2s infinite;
}
@keyframes swiper {
    0%{
        border: 10px solid #ACCFCB;
    }
    33.3%{
        border: 10px solid #E4A9A8;
    }
    66.6%{
        border: 10px solid #DBAD4A;
    }
    100%{
        border: 10px solid #ACCFCB;
    }
}
.swiper-slide img{
    width: 100%;
    object-fit: cover;
}

/* Footer */
.footer{
    width: 100%;
    height: 400px;
    background-color: var(--color-blue);
    justify-content: space-around;
    padding: 20px;
    margin-top: 300px;
    border-top: 1px solid black;
}
.contect{
    width: 20%;
    justify-content: space-around;
}
.sns{
    width: 150px;
    align-items: center;
    border-radius: 10px;
}
.sns img{
    width: 50px;
}
.sns a{
    color: white;
    text-decoration: none;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Nanum Pen Script', cursive; */
    font-family: 'Ubuntu', sans-serif;
}

.information{
    width: 40%;
    color: white;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Nanum Pen Script', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    /* font-family: 'Tangerine', cursive; */
    justify-content: space-around;
    position: relative;
}
.information h1{
    font-size: 20px;
    letter-spacing: 10px;
}
.information span{
    font-size: 25px;
}
.information-qr{
    position: absolute;
    width: 120px;
    height: 150px;
    top: 35%;
    right: 20%;
    background-color: white;
    padding: 10px;
}
.information-qr h5{
    color: black;
    font-size: 12px;
    margin: 10px;
    text-align: center;
}
.information-qr img{
    width: 100px;
    height: 100px;
}

.references{
    width: 20%;
    color: white;
    padding: 10px;
}
.references h1{
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Tangerine', cursive; */
    /* font-family: 'Dancing Script', cursive; */
    text-align: center;
    letter-spacing: 10px;
    margin-bottom: 40px;
}
.references li{
    list-style: square;
    margin: 20px auto;
}
.references a{
    color: white;
    text-decoration: none;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Nanum Pen Script', cursive; */
    font-size: 15px;
}